/* Font
    13
    14
    15
    16
    17
    18
    24
    28
    36
*/
html,
body {
  font-family: "Raleway", sans-serif;
}

a {
  color: #1e1e1e;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

hr {
  height: 1px;
  background-color: #eeeeee;
  width: 100%;
  border: 0;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.0625rem;
  line-height: 1.5 !important;
}

.container {
  height: 100%;
  padding-bottom: 5rem;
  padding-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .row {
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: max-width 100ms ease 0s;
}
@media (min-width: 36rem) {
  .container .row {
    max-width: 35rem;
  }
}
@media (min-width: 48rem) {
  .container .row {
    max-width: 47rem;
  }
}
@media (min-width: 62rem) {
  .container .row {
    max-width: 60rem;
  }
}
@media (min-width: 75rem) {
  .container .row {
    max-width: 71rem;
  }
}

.button {
  background-color: #ff589e;
  border-radius: 1.25rem;
  color: #ffffff;
  font-size: 0.8125rem;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 300ms ease;
}
.button:hover {
  background-color: #8261ee;
}

.card {
  background: #ffffff;
  border-radius: 1.25rem;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  display: block;
  text-align: center;
}

.main-navbar {
  height: auto;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 100;
}
.main-navbar .row > div {
  background-color: #ffffff;
  border-radius: 2.5rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  margin-top: 1.875rem;
  max-height: 5rem;
  overflow: hidden;
  transition: max-height 0.4s ease;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 62rem) {
  .main-navbar .row > div {
    height: 5rem;
  }
}
.main-navbar .row > div .main-navbar__wrapper {
  height: 5rem;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 62rem) {
  .main-navbar .row > div .main-navbar__wrapper {
    width: calc(8.3333333333% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.main-navbar .row > div .main-navbar__wrapper .main-navbar__logo {
  margin: 0 0 0 1rem;
}
.main-navbar .row > div .main-navbar__wrapper i {
  display: inline-block;
  margin: 0 1rem 0 0;
}
@media (min-width: 62rem) {
  .main-navbar .row > div .main-navbar__wrapper i {
    display: none;
  }
}
.main-navbar .row > div .main-navbar__menu {
  border-radius: 0 0 2.5rem 2.5rem;
  font-weight: 500;
  width: 100%;
}
@media (min-width: 62rem) {
  .main-navbar .row > div .main-navbar__menu {
    margin: 0 1rem 0 0;
    width: calc(83.3333333333% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }
}
.main-navbar .row > div .main-navbar__menu .main-navbar__menu-item {
  border-top: 1px solid #eaeaea;
  color: #1e1e1e;
  font-size: 0.8125rem;
  width: 100%;
}
@media (min-width: 62rem) {
  .main-navbar .row > div .main-navbar__menu .main-navbar__menu-item {
    border-top: 0;
    width: auto;
  }
}
.main-navbar .row > div .main-navbar__menu .main-navbar__menu-item a {
  display: block;
  padding: 0.9375rem;
  text-align: center;
  width: 100%;
}
@media (min-width: 62rem) {
  .main-navbar .row > div .main-navbar__menu .main-navbar__menu-item a {
    padding: 0.625rem;
  }
}
@media (min-width: 75rem) {
  .main-navbar .row > div .main-navbar__menu .main-navbar__menu-item a {
    padding: 1.25rem;
  }
}

.show-main-navbar {
  max-height: 1000px !important;
  transition: max-height 0.4s ease-in;
}

.hero {
  background-image: url("../images/banner-bg.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.hero .row > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
@media (min-width: 62rem) {
  .hero .row > div {
    width: calc(58.3333333333% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.hero .hero__title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  text-align: center;
}
@media (min-width: 48rem) {
  .hero .hero__title {
    font-size: 2.25rem;
  }
}
.hero .hero__text {
  color: #ffffff;
  font-size: 0.9375rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

@media (min-width: 62rem) {
  .features {
    position: relative;
  }
}
@media (min-width: 48rem) {
  .features {
    padding-bottom: 0;
  }
}
.features .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 62rem) {
  .features .row {
    bottom: 100%;
    height: auto;
    position: absolute;
    transform: translateY(25%);
  }
}
.features .row .features__item {
  margin: 0.9375rem auto;
  padding: 1.875rem;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 36rem) {
  .features .row .features__item {
    width: calc(50% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
@media (min-width: 62rem) {
  .features .row .features__item {
    width: calc(33.3333333333% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.features .row .features__item:hover {
  cursor: pointer;
}
.features .row .features__item:hover figure {
  background-color: #ff589e;
}
.features .row .features__item figure {
  background-color: #8261ee;
  border-radius: 2.8125rem;
  height: 5.625rem;
  margin-bottom: 1.875rem;
  width: 5.625rem;
  transition: background-color 300ms ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.features .row .features__item .features__item-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.9375rem;
}
.features .row .features__item .features__item-text {
  color: #777;
  font-size: 0.8125rem;
  font-weight: 400;
}

.about .row,
.help .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.about .row figure,
.help .row figure {
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  text-align: center;
}
@media (min-width: 62rem) {
  .about .row figure,
  .help .row figure {
    width: calc(41.6666666667% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.about .row .about__body,
.about .row .help__body,
.help .row .about__body,
.help .row .help__body {
  margin: 2.5rem auto auto auto;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  text-align: center;
}
@media (min-width: 62rem) {
  .about .row .about__body,
  .about .row .help__body,
  .help .row .about__body,
  .help .row .help__body {
    text-align: left;
    width: calc(50% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.about .row .about__body .about__body-title,
.about .row .about__body .help__body-title,
.about .row .help__body .about__body-title,
.about .row .help__body .help__body-title,
.help .row .about__body .about__body-title,
.help .row .about__body .help__body-title,
.help .row .help__body .about__body-title,
.help .row .help__body .help__body-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
}
.about .row .about__body .about__body-text,
.about .row .about__body .help__body-text,
.about .row .help__body .about__body-text,
.about .row .help__body .help__body-text,
.help .row .about__body .about__body-text,
.help .row .about__body .help__body-text,
.help .row .help__body .about__body-text,
.help .row .help__body .help__body-text {
  font-size: 1rem;
  font-weight: 400;
  color: #777;
}

.help .row {
  flex-direction: row-reverse;
}

/* Font
    13
    14
    15
    16
    17
    18
    24
    28
    36


*/
.fs-1 {
  font-size: 13px;
}

.fs-2 {
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */